$color-main-darkest: black;
$color-main-dark: #004245;
$color-main-light: #00595d;
$color-main-lighter: #5db3b3;
$color-main-accent: #84ffff; //A200 accent

//bulma
$text: $color-main-accent;
$text-light: $color-main-accent;
$text-invert: $color-main-lighter; 
$text-strong:  $color-main-accent;
$white: $color-main-light;